{% extends 'base.html' %}
{% block content %}
<body class="sans-serif pv2 ph4">
  <header class="flex items-center justify-between bg-green white ph3">
    <div id="title">
      <a class="washed-blue link underline-hover" href="{% url 'home_page' %}"><h1 class="white">Freeshelf</h1></a>
    </div>
    <div id="account-menu">
      <a class="washed-blue" href="{% url 'auth_logout' %}">Logout</a>
    </div>
  </header>
  <nav id="category-nav" class="flex items-center">
    <div>
      Books by category:
    </div>
    <ul class="list ml1 pa0 flex flex-wrap">
      {% for category in categories %}
      <li class="mr2 pr2 bw1 br"><a href="{% url 'filter_by' name=category.name %}">{{category}}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <main>
    <section id="books">
      <h2>{{user.username}}'s Favorites</h2>
      {% for book in books %}
      {% if book.title %}
      <div class="mv3">
        <div class="normal f3"><a href="{{book.book_url}}">{{book.title}}</a>{% endif %} {% if book.author %} <span class="f4">by {{book.author}}</span></div> {% endif %}
        {% if book.description %}
        <p class="lh-copy">
          {{book.description}}
        </p>
        {% endif %}
        <div class="flex">
          <div class="mr2 pr2 bw1 br green">
            Favorited X times
          </div>
          {% if book.created_at %}
          <div class="mr2 pr2 bw1 br">
            {{book.created_at}}
          </div>
          {% endif %}
          <div>
            Categories: {% for category in book.categories.all %}<a href="{% url 'filter_by' name=category.name %}">{{category}}</a>  {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </section>
  </main>
</body>
{% endblock %}